.btn {
    border-radius: 5px;
    border: none;
    font-size: 48px;
}

.btn-large {
    width: 200px;
    height: 120px;
}

.btn-medium {
    width: 100px;
    height: 60px;
}

.btn-small {
    width: 50px;
    height: 30px;
}
